$backgroundColor:rgb(119, 119, 119);
$colorTextHeader: #FFF;
$colorTextSiteBar: rgb(185, 184, 184);
$colorTextWhite: #fff;
$colorTextHoverSiteBar:rgb(19, 220, 255);
$colorTextPhone:rgb(252, 167, 88);
$colorContent: rgb(220, 220, 220);
$colorTextHoverBlack:#000;