<footer class="container">
    <footer class="footer">
        <div class="footer__link">
            <ul class="footer__list">
                <li><a href="#">Пункт 01</a></li>
                <li><a href="#">Пункт 02</a></li>
                <li><a href="#">Пункт 03</a></li>
                <li><a href="#">Пункт 04</a></li>
                <li><a href="#">Пункт 05</a></li>
                <li><a href="#">Пункт 06</a></li>
                <li><a href="#">Пункт 07</a></li>
            </ul>
            <ul class="footer__list">
                <li><a href="#">Пункт 08</a></li>
                <li><a href="#">Пункт 09</a></li>
                <li><a href="#">Пункт 10</a></li>
                <li><a href="#">Пункт 11</a></li>
                <li><a href="#">Пункт 12</a></li>
                <li><a href="#">Пункт 13</a></li>
                <li><a href="#">Пункт 14</a></li>
            </ul>
        </div><!--/footer__link-->
        <div class="footer__link">
            <ul class="footer__price--nav">
                <li><a href="#">Поисковое продвижение сайтов</a></li>
                <li><a href="#">Тариф новый</a></li>
                <li><a href="#">Тариф новый</a></li>
                <li><a href="#">Тариф новый</a></li>
                <li><a href="#">Тариф новый</a></li>
                <li><a href="#">Тариф новый</a></li>
                <li><a href="#">Тариф новый</a></li>
            </ul>
        </div><!--/footer__link-->
        <div class="footer__info">
            <div></div>
            <div></div>
        </div>
    </footer>
</footer>
