<header>
    <section class="container">
        <div class="header__grid">
            <div class="header__block">Logo</div>
            <div class="header__block">More</div>
            <div class="header__block header__link">
                <ul class="header__list">
                    <li><a href="#">+375 (29) 371-10-41</a></li>
                    <li><a class="header__decor" href="#">info@increase.by</a></li>
                    <li><a class="header__decor" href="#">www.increase.by</a></li>
                </ul>
            </div>
        </div> 
        <hr>
    </section>
</header>
